.contact_top_left{float: left;margin-bottom: 60px;}
.contact_top_left h2{width: 320px;height: 80px;text-align: center;line-height: 80px;font-family: "微软雅黑";font-size: 24px;color: #FFFFFF;background: #00A8A8;}
.contact_top_left ul{width: 320px;height: auto;background: #eeeeee;padding-bottom: 60px;}
.contact_top_left ul li{padding:24px 0px 0px 18px;font-family: "微软雅黑";font-size: 16px;color: #666666;}

.map{width:1198px;height: 350px;border: 1px solid #666666;margin: 160px 0px 85px 0px;clear: both;}
/*.contact_top form{width: 826px;height: 370px;float: right;}
.contact_top form input{display: block;float: left;}
.contact_top form area{float: right;}*/
.contact_top_right{width: 826px;height: 392px;float: right;}
.form1 input{width: 248px;height: 48px;border: 1px solid #dadada;padding: 0px 15px;font-family: "微软雅黑";font-size: 18px;color: #CCCCCC;}
.phone{margin: 30px 0px;}
.form1{width:280px;height: 292px;float: left;}
.form2{width:512px;height: 210px;float: right;border: 1px solid #dadada;}
.contact_top_right .form2 textarea{width: 497px;height: 192px;padding: 16px 0px 0px 15px;font-family: "微软雅黑";font-size: 18px;color: #CCCCCC;float: right;border: 0 none;}
.contact_top_right a{display: block;width: 300px;height: 50px;background: #00A8A8;text-align: center;line-height: 50px;color: #FFFFFF;margin: 342px 263px 0px 263px;}
.form1 .mailbox{margin-bottom: 30px;}
.form1 .code{width:158px;height: 48px;}
