
.news_main_right{width: 950px;height:auto;float: right;margin-bottom: 30px;}

.news_main_right ul li a img{width: 300px;height: 150px;float: left;}
.news_main_right ul li{width:950px;height:150px;margin-bottom: 20px;}
.news_main_right ul li:hover h3 a{color: #00A8A8;}
.news_title{width: 634px;height: 150px;float: right;}
.news_title h3 a{font-family: "微软雅黑";font-size: 22px;color: #333333;font-weight: normal;}
.news_title p{font-family: "微软雅黑";font-size: 16px;color: #666666;text-indent: 2em;}
.news_main_right .news_title span{display:block;margin:14px 0px 10px 0px;font-family: "Arial";font-size: 14px;color: #999999;}
